
@model IEnumerable<teacherProject.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page shows information about all teachers</p>

@foreach(var Teacher in Model) { 

    <div>
    <a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFname @Teacher.TeacherLname</a>
    </div>

 
}

