@model teacherProject.Models.Teacher 
@{
    ViewBag.Title = "Show";
}


<div id="show-container">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>

</div>

<h2>Show Teacher</h2>

<span>Teacher Name: @Model.TeacherFname @Model.TeacherLname</span>
<span> Hire Date: @Model.HireDate</span>
<span> Salary: @Model.Salary</span>



