@model teacherProject.Models.Teacher 
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>

<span>Teacher Name: @Model.TeacherFname @Model.TeacherLname</span>
<span> Hire Date: @Model.HireDate</span>
<span> Salary: @Model.Salary</span>



